/python_scrapy/movie/.idea
/python_scrapy/movie/venv
/python_scrapy/mingyan/.idea
/python_scrapy/pic/pic/__pycache__
/python_scrapy/pic/.idea
/.idea
/10python深度学习/CaptchaRecognize/tfrecords
10python深度学习/tmp/summary/test/events.out.tfevents.1544198498.7KADZY7N0AX0QX1
/05python中Django模块/day01/code/hrs/__pycache__
/05python中Django模块/day01/code/hrs/migrations/__pycache__
/05python中Django模块/day01/code/oa/__pycache__
/06python的爬虫/code/douban/douban/__pycache__
/07python_scrapy/movie/movie/__pycache__
/07python_scrapy/pic/pic/spiders/__pycache__
/07python_scrapy/movie/movie/spiders/__pycache__
/06python的爬虫/code/douban/douban/spiders/__pycache__
